.swTest-sidenav {
  position: fixed;
  z-index: 10;
  height: 100%;
  background-color: #042235;
  width: 80px;
  color: white;
}

#swTest-logo {
  margin: 24px 0px;
  transition: transform 0.2s cubic-bezier(0, 0, 0, 2.2);
}
